
  
  .p-search-input {
    border-radius: 50px; /* Fully round the input field */
    padding-left: 30px; /* Ensure space for the icon inside the input field */
    width: 100%; /* Ensure the input stretches to fill the container */
  }

  .no-background {
    background-color: transparent !important;
    box-shadow: none !important; /* Removes any box shadow */
}






  